@use "var";
@use "font";

* {
  margin: 0;
}
body {
  background-image: url(../IMG/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 37px 370px 80px;
}

.header {
  display: flex;
  align-items: center;
  font-family: font.$font-family-montserrat;
  color: var.$white;
  &__logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    margin-right: 551px;
    padding-top: 2px;
  }
  &__address {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding-top: 4px;
    margin-right: 71px;
    &_label {
      padding-right: 12px;
    }
  }
  &__phone {
    display: flex;
    gap: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    &_text {
      white-space: nowrap;
    }
    &_icon {
      position: relative;
      left: 1px;
      top: -7px;
    }
    &_schedule {
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
    }
  }
}

.first-screen {
  // display: flex;
  // flex-direction: column;

  &_h2 {
    border-radius: 5px;
    padding: 10px 18px 11px;
    font-family: font.$font-family-montserrat;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var.$dark;
    background: var.$grey;
    width: 132px;
    text-align: center;
    // padding: 10px 18px;
  }
  &_h3 {
    font-family: font.$font-family-montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var.$white;
  }
  &_description {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    color: var.$white;
    font-family: font.$font-family-montserrat;
  }
  &__button {
    font-family: font.$font-family-montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    text-align: center;
    color: var.$dark;
    border-radius: 8px;
    // padding: 30px 50px;
    width: 278px;
    height: 89px;
    background: var.$yellow;
  }
}
