@use "var";
@use "font";

* {
  margin: 0;
}
body {
  background-image: url(../IMG/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 37px 370px 80px;
}

.header {
  display: flex;
  align-items: center;
  font-family: font.$font-family-montserrat;
  color: var.$white;
  &__logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    margin-right: 551px;
    padding-top: 2px;
  }
  &__address {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding-top: 4px;
    margin-right: 71px;
    &_label {
      padding-right: 12px;
    }
  }
  &__phone {
    display: flex;
    gap: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    &_icon {
      position: relative;
      left: 1px;
      top: -7px;
    }
    &_schedule {
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
    }
  }
  
}
